h1 {
  text-align: center;
  color: cyan;
}

body {
  background-color: #282828;
  color: cyan;
}

.items {
  border: solid 2px cyan;
  background-color: darkgoldenrod;
  padding: 2%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  text-align: left;
  max-width: 30%;
}

.Publix, .Walmart {
  display: inline-block;
}

img {
  height: auto;
  width: 50%;
  border: solid 2px cyan;
  margin: 5px;
}

#top, #bottom {
  margin: 30px;
}

.food {
  background-color: darkslategray;
  display: inline-block;
  padding: 10px;
  text-align: left;
  margin: 5px;
}